################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyProxy/.vs/MyProxy/v16
/MyProxy/MyProxy/obj
/MyProxy/MyProxy/bin/Debug/netcoreapp3.1
/MyProxy/MyProxy.Notification/obj
/MyProxy/MyProxy.Notification/bin/Debug/netcoreapp3.1
/MyProxy/MyProxy.Security/obj
/MyProxy/MyProxy.Security/bin/Debug/netcoreapp3.1
MyProxy/.vs/MyProxy/DesignTimeBuild/.dtbcache.v2
MyProxy/.vs/MyProxy/DesignTimeBuild/.dtbcache.v2
/MyProxy/MyProxy/wwwroot/vendor.js.map
/MyProxy/MyProxy/wwwroot/vendor.js
/MyProxy/MyProxy/wwwroot/styles.css.map
/MyProxy/MyProxy/wwwroot/styles.css
/MyProxy/MyProxy/wwwroot/runtime.js.map
/MyProxy/MyProxy/wwwroot/runtime.js
/MyProxy/MyProxy/wwwroot/polyfills.js.map
/MyProxy/MyProxy/wwwroot/polyfills.js
/MyProxy/MyProxy/wwwroot/main.js.map
/MyProxy/MyProxy/wwwroot/main.js
/MyProxy/MyProxy/wwwroot/index.html
/MyProxy/MyProxy/wwwroot/favicon.ico
